
h1 {
    font-family: 'Abhaya Libre ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 500%;
    color: #ffffff;
    text-align: center;
}
p {
    font-family: 'Abhaya Libre ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 200%;
    color: #ffffff;
    text-align: left;
    margin-left: 20px;
}
.Description-about-myself-and-photo {
    text-align: center; 
}

.Description-about-myself-and-photo img {
    display: block; 
    margin: 0 auto; 
    max-width: 100%; 
}

@media (max-width:700px){
    h1{
        font-size: 200%;  
    }
    p{
        font-size: 150%;
        margin-bottom: 20px;;  
    }
    Img{
    height: 70%;
    width: 70%;
    }
    
    }
